.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.formTitle {
    text-align: center;
}

.formContainer {
    width: 30%; 
    margin: 25px auto;
}

#campgroundsDisplay {
    display:flex; 
    flex-wrap: wrap;
}